<div class="vis row">
  <div class="col-md-10"><div id="graph"></div></div>
  <div class="col-md-2"><div id="pie"></div></div>
</div>

<script type="text/javascript">

$('document').ready(function(){
  window['EmailEngine'] = new EmailEngine();
})

</script>