<div class="vis row">
  <div class="col-md-10"><div id="graph"></div></div>
  <div class="col-md-2"><div id="pie"></div></div>
</div>

<script type="text/javascript">

$('document').ready(function(){
  EmailEngine.generateGraph();
  EmailEngine.list.load({url: EmailEngine.list.url()});
  setInterval(function(){
    if ($('#refresh').is(":checked")){
      EmailEngine.reload();
    }
  }, $('#refresh_interval').val());
})

</script>